html {
    scroll-behavior: smooth;
    font-size: 16px;
    height: 100%;
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --main-box-color: white; */
    --shadow-color: #eee;
    --body-color: #f0ffff;
}

h1,
h2,
h3 {
    line-height: unset;
}

.non-animated-gradient {

    /* Create the gradient. */
    background: linear-gradient(to right,
            /* #887ba7, */
            rgb(78, 1, 105) 40%,
            rgb(78, 1, 105, 0.4));
    background-size: 200% 200%;
    /* animation: backgroundChange6 4s ease infinite alternate; */

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}


.animated-gradient-2 {

    /* Create the gradient. */
    /* background: linear-gradient(45deg,
            rgb(78, 1, 105) 40%,
            black,
            rgb(78, 1, 105) 60%,
            black); */
    /* background: linear-gradient(45deg,
            rgb(78, 1, 105, 0.9) 0% 30%,
            blueviolet,
            rgb(78, 1, 105, 0.9) 50% 80%,
            blueviolet); */
    background: rgb(78, 1, 105);

    background: linear-gradient(45deg,
            /* #887ba7, */
            rgb(78, 1, 105) 0% 10%,
            rgb(78, 1, 105, 0.6),
            rgb(78, 1, 105) 80% 90%,
            rgb(78, 1, 105, 0.6));

    background: linear-gradient(45deg,
            /* #887ba7, */
            #490163 0% 10%,
            #63018380,
            #490163 80% 90%,
            #63018380);

    background-size: 300% 300%;
    animation: backgroundChange6 1.5s ease-in-out infinite alternate;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */

    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(78, 1, 105, 0.3);
    -moz-background-clip: text;
    -moz-text-fill-color: rgb(78, 1, 105, 0.3);

}

.bold-700 {
    font-weight: 700;
    color: rebeccapurple;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    /* position: sticky;
    top: 0; */
    padding: 1.5rem 5rem;
    color: #000;
}


header a,
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
    padding: 3px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    font-weight: 600;
    font-size: 1.1rem;

}


nav a:hover {
    color: rebeccapurple;
    opacity: 0.7;
}

nav button {
    font-size: 1rem;
    /* font-weight: unset; */
    outline: none;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 6px;
    padding: 0.5rem;

}

body {
    min-height: 100vh;
    /* position: relative; */

}


.hero-heading {
    font-size: 3rem;
    font-weight: 700;
}

.hero-sub-heading {
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
}

input[type="text"],
input[type="submit"] {
    display: block;
    outline: none;
    width: 30%;
    min-width: 450px;

}


input[type="text"] {
    margin: 0.4rem auto 0.5rem;
    background-color: var(--main-box-color);
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: 1px solid grey;
    /* font-size: 0.85rem; */
}

input[type="submit"] {
    /* font-size: 1rem; */
    display: block;
    outline: none;
    width: 30%;
    border-radius: 6px;
    margin: 0.25rem auto 0.25rem;
    padding: 0.5rem 1.25rem;
    background-color: black;
    background-color: rebeccapurple;
    border: 1px solid black;
    width: 30%;
    color: #f0ffff;
}

main {
    text-align: center;
    width: 80%;
    min-width: 500px;
    margin: auto;
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    margin-bottom: 3rem;
}



footer {
    text-align: center;
    color: rgba(129, 119, 119, 0.913);
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
    width: 100vw;
    display: none;
}

#features {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    /* margin-top: 2rem; */
}

.feature {
    width: 25%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}




.feature-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin: 0rem auto 0.7rem;
    color: black;
    font-weight: 700;
}


.feature-heading i {
    font-size: 1.5rem;
    color: rebeccapurple;
    /* color: black; */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.feature-content {
    background-color: var(--main-box-color);
    border-radius: 0.25rem;
    padding: 2rem 2rem 1.5rem;
    box-shadow: 0px 0px 5px #ccc;
    height: calc(100% - 5.5rem);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature:hover {
    transform: scale(1.04);
}



#affirmations-generator {
    margin: 1.5rem auto 0rem;
    width: 100%;
    /* min-width: 150px; */
}

#affirmations-pit {
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 5px #ccc inset;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#affirmations-pit-2 {
    display: none;
}

.affirmation-placeholder {
    font-weight: 500;
    color: rgb(78, 1, 105, 0.6);
    /* color: red; */
}

.affirmation-text {
    font-weight: 500;
    /* opacity: 0.5; */
    color: #4e0169;
}

label {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8;
    color: #000
}

.carousel-control-next,
.carousel-control-prev {
    color: rgba(0, 0, 0);
}

.carousel-indicators {
    top: 5rem;
}

.carousel-indicators button {
    /* position: relative; */
    margin: 0 5px 0;
    width: 3%;
}

.carousel-indicators button:hover {
    opacity: 0.5;
}

.carousel-indicators button[class="active"] {
    opacity: 0.8;
}

@media only screen and (max-width: 950px) {
    .feature-heading {
        flex-direction: row;
        justify-content: center;
    }

    #features {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }

    .feature {
        width: 85%;
    }

    /* TODO: Add hamburger here*/
}

/* 
@media only screen and (max-width: 650px) {
    #features {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }

    .feature {
        width: 85%;
    }
} */

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem
}

@keyframes backgroundChange6 {
    0% {
        background-position: 0% 70%;
    }

    /* 50% {
        background-position: 50% 100%;
    }

    75% {
        background-position: 100% 50%;
    } */

    100% {
        background-position: 70% 0%;
    }
}

h1,
h2,
h3 {
    margin: unset;
}