{% extends 'base.html' %}


{% block head %}
{% endblock %}


{% block body %}
<div id="affirmations-pit">
    {% if visible == true %}
    <div id="affirmationCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <p class="affirmation-text">{{grievance}} 1</p>
            </div>
            <div class="carousel-item">
                <p class="affirmation-text">{{grievance}} 2</p>
            </div>
            <div class="carousel-item">
                <p class="affirmation-text">{{grievance}} 3</p>
            </div>
        </div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#affirmationCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#affirmationCarousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#affirmationCarousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#affirmationCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#affirmationCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% else %}
    <p class="affirmation-placeholder">affirmations appear here</p>
</div>
{% endif %}

{% endblock %}