{% extends 'base.html' %}


{% block head %}
<style>
    /* Tooltip container */
</style>
{% endblock %}


{% block body %}

<div class="heading-container">
    <h1 class="hero-heading bold-700">
        Affirm
    </h1>
    <h2 class="hero-sub-heading bold-700 animated-gradient-2">Your friendly, neighbourhood
        positive affirmations-generator
    </h2>
</div>
<section id="features">
    <div class="feature">
        <h3 class="feature-heading">
            <i class="fa-solid fa-hand-holding-heart" aria-hidden="true"></i>
            About Affirm
        </h3>
        <div class="feature-content">
            <p>Heartbreaks? Setbacks? Failure?
                Life-ing is hard.
                Affirm helps you power
                through life's hurdles by generating empowering affirmations.</p>
        </div>
    </div>
    <div class="feature">
        <h3 class="feature-heading bold-700">
            <i class="fa-solid fa-gears" aria-hidden="true"></i>
            How it works
        </h3>
        <div class="feature-content">
            <p>Affirm uses the latest Natural Language Processing techniques to generate
                affirmations.
                Just type in your grievance and let Affirm work its magic!</p>

        </div>
    </div>
    <div class="feature">
        <h3 class="feature-heading">
            <i class="fa-solid fa-triangle-exclamation" aria-hidden="true"></i>
            Note
        </h3>
        <div class="feature-content">
            <p>The generator may occasionally produce incorrect/biased content.
                Affirm is not a substitute for professional mental health services.
                Feedback? Contact Us!
            </p>
        </div>
    </div>
</section>
<section id="affirmations-generator" class="main-content">
    <form action="/" method="POST">
        <label for="grievance">Enter your grievance: </label>
        {% if flashMessage %}
        <input type="text" id="grievance" name="grievance" value="{{grievance}}" required>
        {% else %}
        <input type="text" id="grievance" name="grievance" placeholder="ex: school deadlines making me anxious"
            required>
        {% endif %}
        <!-- Generate button -->
        <input type="submit" , value="Generate!" , onClick="submitClicked();">
    </form>
</section>
<section id="affirmations">
    <div class="spinner">
        <i id="spinner" class="fas fa-spinner fa-pulse" title="Please wait, generating Response" aria-hidden="true"></i>
        <span class="fa-sr-only">Please wait, generating the affirmations.</span>
    </div>
    {% if flashMessage %}
    <div id="affirmations-pit">
        <div id="affirmationCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p class="affirmation-text">{{affirmations[0]}}</p>
                </div>
                <div class="carousel-item">
                    <p class="affirmation-text">{{affirmations[1]}}</p>
                </div>
                <div class="carousel-item">
                    <p class="affirmation-text">{{affirmations[2]}}</p>
                </div>
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#affirmationCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#affirmationCarousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#affirmationCarousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#affirmationCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#affirmationCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    {% endif %}
</section>
{#
<div class="accordion" id="FAQwhatAreAffirmations">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What are affirmations?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#FAQwhatAreAffirmations">
            <div class="accordion-body">

            </div>
        </div>
    </div>
</div>
#}

{% block script %}
<script>
    // when the submit button is clicked
    function submitClicked() {
        var affirmationsPit = document.getElementById("affirmations-pit");
        var loadingIcon = document.getElementById("spinner")
        // var loadingIcon = document.getElementsByClassName("tester")[0]
        if (!(document.getElementById("grievance").value === "")) {
            loadingIcon.style.display = "block";
            affirmationsPit.style.display = "none";
        }
    }

    var affirmationsPit = document.getElementById("affirmations-pit");
    // returning the affirmations -> remove the spinner and bring the pit into view
    if ("{{requestPosted}}" == "True") {
        document.getElementById("spinner").style.display = "none";
        affirmationsPit.style.display = "flex";
        affirmationsPit.scrollIntoView();
    }


</script>
{% endblock %}
{% endblock %}